#portfolio-flters {
   
    list-style: none;
    text-align: center;
    border-radius: 5px;
    padding: 2px 1px;
}

 #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: rgb(12, 1, 1);
    background: rgba(15, 67, 211, 0.1);
    margin: 0 3px 1px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}



  
